include ../includes/head.pug

.container.pt-5
    div.mb-10
        if(referenceNotifications)
            each notification in referenceNotifications
                table.table.table-dark.table-striped.table-hover
                    thead
                        tr
                            td Type
                            td Kullanıcı ismi
                            td İçerik
                            td Yönetim
                    tbody
                        tr 
                            td Referans Onay
                            td #{notification.username}
                            td #{notification.type}
                            td
                                .btn-group
                                    form.form(action="/acceptRequest" method="POST")
                                        input(type="hidden" value=`${notification.id}` name="subUserId")
                                        input(type="submit" value="Kabul Et").btn.btn-success
                                    form.form(action="/rejectRequest" method="POST")
                                        input(type="hidden" value=`${notification.id}` name="subUserId")
                                        input(type="submit" value="Reddet").btn.btn-danger
        if(commentNotifications) 
            each notification in commentNotifications
                - newComment = notification.newComment
                table.table.table-dark.table-striped.table-hover
                    thead
                        tr
                            td Type
                            td Publisher Name / ID
                            td Blog ID
                            td Content 
                            td Yönetim
                    tbody
                        tr 
                            td Yorum Onay
                            td #{newComment.publisherName} / #{newComment.publisherId}
                            td #{newComment.blogId}
                            td #{newComment.content}
                            td
                                .btn-group
                                    form.form(action="/admin/acceptComment" method="POST")
                                        input(type="hidden" value=`${newComment.publisherName}` name="commentPublisher")
                                        input(type="hidden" value=`${newComment._id}` name="commentId")
                                        input(type="submit" value="Yayınla").btn.btn-success
                                    form.form(action="/admin/rejectComment" method="POST")
                                        input(type="hidden" value=`${newComment.publisherName}` name="commentPublisher")
                                        input(type="hidden" value=`${newComment._id}` name="commentId")
                                        input(type="submit" value="Reddet").btn.btn-danger
        if(warningNotification) 
            each notification in warningNotification
                table.table.table-dark.table-striped.table-hover
                    thead
                        tr
                            td Type
                            td Content 
                            td İşlemler
                    tbody
                        tr 
                            td Warning Bildiri
                            td #{notification.content}
                            td
                                .btn-group
                                    form.form(action="/deleteNotification" method="POST")
                                        input(type="hidden" value=`${notification.type}` name="notificationType").btn.btn-danger
                                        input(type="submit" value="Kaldır").btn.btn-danger

        if(messageNotifications) 
            each notification in messageNotifications
                table.table.table-dark.table-striped.table-hover
                    thead
                        tr
                            td Type
                            td Content 
                            td İşlemler
                    tbody
                        tr 
                            td Referrerden Mesaj
                            td #{notification.content}
                            td
                                .btn-group
                                    form.form(action="/deleteNotification" method="POST")
                                        input(type="hidden" value=`${notification.type}` name="notificationType").btn.btn-danger
                                        input(type="submit" value="Kaldır").btn.btn-danger
        if(apiNotifications) 
            each notification in apiNotifications
                table.table.table-dark.table-striped.table-hover
                    thead
                        tr
                            td Type
                            td Content 
                    tbody
                        tr 
                            td Referrerden Mesaj
                            td #{notification.content}



        else 
            h1(style="color : white") No Notifications